
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice{
  text-align: center;
  display: inline-block;
}
body{
  background-color:  #393E46;
}

  h1 {

  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
p{

  font-family: 'Poppins',sans-serif;
  color:#4ECCA3;
  font-size: 2rem;

}
img{
  width: 40%;
}
footer{
  margin-top:5%;
  color:#EEEEEE;
  font-size:1.5rem;
  font-family: 'Poppins',sans-serif;

}
input{
  display: flex-block;
  width:100px;
  height:7%;
  margin:20px auto auto auto;
  background-color:aqua ;
  border-radius: 100px;
  font-family:'Lobster',cursive ;
  font-size: 25px;
  
}
input:hover{
  color:white;
}
